<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
const handleSubmit=()=>{
         let userId=$('#UserId').val();
        let password=$('#OldPassword').val();
            let newpass=$('#NewPassword').val();
        if(userId==null || userId==""){
            alert("UserId is required");
            return false;
        }
        if(password==null || password==""){
            alert("Password is required");
            return false;
        }
        if(password.length<6){
            alert("Password must be at least 6 characters long");
            return false;
        }
         if(password.length>50){
                alert("Password must maximum of 50 characters long ");
            return false;
        }
                if(newpass==null || newpass==""){
                alert("New Password is required");
                return false;
            }
                if(newpass.length<6){
                alert("New Password must be at least 6 characters long");
                return false;
            }
             if(newpass.length>50){
                    alert("New Password must maximum of 50 characters long ");
                return false;
            }
        else
        return true
}
</script>
<h2>Change Password</h2>
<hr />

<form asp-action="ChangePasswordPost" method="post">
    @Html.AntiForgeryToken()

    <!-- UserId -->
    <div class="form-group mb-2">
        <label>UserId</label>
            <input type="text" name="UserId" id="UserId" class="form-control" />

    </div>

    <!-- Password -->
    <div class="form-group mb-2">
        <label>Password</label>
                <input type="password" name="OldPassword" id="OldPassword" class="form-control" />

    </div>
    <!-- Password -->
    <div class="form-group mb-2">
        <label>NewPassword</label>
            <input type="password" name="NewPassword" id="NewPassword" class="form-control" />

    </div>

    <button type="submit" class="btn btn-primary" OnClick="return handleSubmit()">Change Password</button>
   <div>
    <div class="text-danger">@ViewBag.ErrorMessage</div>
   
        </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}